
.fishCard img{
    width: 100%;
    height: auto;
    
}

.fishCard{
    display: block;
    margin: auto;
    min-width: 25%;
    max-width: 300px;
    height: auto;
    
}

.fishContainer{
    justify-self: center;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    height: auto;
    background-color: white;
}

.gameBody{
    display: grid;
    justify-items: center;
}